* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body {
	background-color: #f0ece8;
	color: #3e3d3d;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
}

img {
	width: 100%;
}

/************************* START STICKY FOOTER ***************************/
.site {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 25px;
	border: #3e3d3d 1px solid;
}

.site-content {
	flex: 1;
}
/******************************* END STICKY FOOTER **********************/



/**************************** START SLIDER STYLING **********************/
/******* https://kenwheeler.github.io/slick/ *******/


.slick-prev:before {
  content: "\f0a8";
  font-family: "FontAwesome";
  color: white;
  font-size: 40px;
}

.slick-next:before {
  content: "\f0a9";
  font-family: "FontAwesome";
  color: white;
  font-size: 40px;
}

.slick-prev {
  left: 20px;
  z-index: 1;
}

.slick-next {
  right: 35px;
  z-index: 1;
}

/**************************** END SLIDER STYLING **********************/
.desktop-nav {
	display: none;
}

.header-container {
	text-align: center;
	padding-bottom: 30px;
	margin-top: -50px;
}

.logo {
	max-width: 936px;
	width: 50%;
}

header h1 {
	text-align: center;
	font-size: 2rem;
	font-family: 'Averia Serif Libre', cursive;
	font-weight: 700;
	font-style: italic;
}

header h2 {
	padding-top: 5px;
	text-align: center;
	font-size: 1.8rem;
	font-family: 'Averia Serif Libre', cursive;
	font-weight: 700;
	text-transform: uppercase;
}

/********************* Start Animated Quote styling *******************/

.ml2 .letter {
  display: inline-block;
}

/********************* End Animated Quote styling *******************/


/*********************** START HAMBURGER MENU STYLING **********************/
.bg-cover {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #292324;
  z-index: 0;
  transition: all 350ms ease;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
	display: none;
	color: #333333;
}

.reveal {
  opacity: .85;
  display: block;
  pointer-events: auto;
  visibility: visible;
	color: #444444;
}

.hamburger-shell {
	display: block;
  margin: 0;
  position: relative;
  overflow: hidden;
  width: 52px;
  height: 100px;
  left: calc(100% - 66px);
  top: -5px;
  cursor: pointer;
  padding: 0;
  background: transparent;
  border: none;
}

.top, .middle, .bottom {
	position: absolute;
	width: 62px;
	height: 4px;
	background-color: #3e3d3d;
	transition: all 350ms ease-in-out;
	top: 20px;
}

.middle {
  top: 35px;
}

.bottom {
  top: 50px;
}


/*Added this to hide the third button on menu open */
.hide {
	display: none;
}

/*Added to hide slider on menu open */
.opacity-hide {
	opacity: 0.1;
}

#menu {
  position: fixed;
  left: calc(100% - 292px);
  top: 10px;
  color: #fcf1e7;
  display: none;
  margin: 120px 30px;
  text-decoration: none;
  font-weight: 300;
  font-size: 1.3rem;
  width: 240px;
  text-align: right;
	font-family: 'Averia Serif Libre', cursive;
}

#menu li {
	text-decoration: none!important;
	margin-bottom: 42px;
	list-style: none;
	color: #f0ece8;
	transition: all 150ms ease;
}

#menu li:hover {
	color: #fff;
	/* padding-right: 3px; */
}

#menu a {
	text-decoration: none;
	color: inherit;
}

.menu-open .top {
	transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
	top: 30px;
	background-color: #f0ece8;
	height: 2px;
}

.menu-open .middle, .menu-open .bottom {
	transform: rotate(-225deg);
	-webkit-transform: rotate(-225deg);
	top: 30px;
	background-color: #f0ece8;
	height: 2px;
}

/*********************** END HAMBURGER MENU STYLING **********************/
/************************ NAV HOVER ANIMATION START **************************/
/* https://codepen.io/bhautikbharadava/pen/OdPzdW */
	.btn {
		cursor:pointer;
		position:relative;
		padding:10px 20px;
		/* font-size:28px; */
		border-top-right-radius:10px;
		border-bottom-left-radius:10px;
		transition:all 1s;
	}

	.btn:after,
	.btn:before {
		content:" ";
		width:10px;
		height:10px;
		position:absolute;
		transition:all 1s;
		}

	.btn:after {
		top:-1px;
		left:-1px;
		border-top:5px solid rgba(154, 123, 170, 0.9);
		border-left:5px solid rgba(154, 123, 170, 0.9);
	}

	.btn:before{
		bottom:-1px;
		right:-1px;
		border-bottom:5px solid rgba(154, 123, 170, 0.9);
		border-right:5px solid rgba(154, 123, 170, 0.9);
	}

	.btn:hover{
		border-top-right-radius:0px;
		border-bottom-left-radius:0px;
	}

	.btn:hover:before,
	.btn:hover:after{
		width:100%;
		height:100%;
	}

	.data-container{
		height:100vh;
		display:flex;
		justify-content:center;
		align-items:center;
	}
	/************************ NAV HOVER ANIMATION END **************************/

.overlay-container {
	position: relative;
	flex: 1;
	padding: 0;
	text-align: center;
	color: #3e3d3d;
	font-weight: 700;
	z-index: 1000;
}

.ladies-gents-link {
	z-index: 200;
	transition: opacity 5s;
	opacity: 0;
	font-family: 'Averia Serif Libre', cursive;
	font-weight: 700;
	font-style: normal;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.overlay-image {
	padding: 0;
	z-index: 0;
}

.overlay {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	background: radial-gradient(circle, rgba(191,148,247,0.29315476190476186) 0%, #3e3d3d 100%);
	width: 100%;
	height: 98.5%;
	z-index: 150;
	transition: 2s;
}

.home-article1 h2,
.ladies-article h2,
.gents-article h2 {
	font-size: 1.8rem;
	padding-top: 10px;
}

article h2,
article p {
	padding: 0 10px 5px;
}

article h2 {
	font-size: 1.5rem;
	font-family: 'Averia Serif Libre', cursive;
	padding-top: 20px;
}

article {
	padding: 20px 0;
}

article img {
	padding: 5px 0;
}

article p {
	font-size: 1rem;
	line-height: 1.4rem;
}

.ladies-gents-link {
	display: inline-block;
	padding-top: 4px;
	margin-left: 5%;
	margin-top: 10px;
	text-align: center;
	border-top: 2px solid #f0ece8;
	border-bottom: 2px solid #f0ece8;
	font-family: 'Averia Serif Libre', cursive;
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 2rem;
	transition: .5s;
}

.ladies-gents-quote {
	font-family: 'Averia Serif Libre', cursive;
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 1.8rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #f0ece8;
	z-index: 200;
	width: 85%;
	transition: opacity .5s;
	opacity: 0;
}

.ladies-gents-link:hover {
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	transition: .5s;
}

.ladies-gents-link a {
	text-decoration: none;
	color: #f0ece8;
	transition: .5s;
}

.ladies-gents-link a:hover{
	color: white;
	transition: .5s;
}

.ladies-main,
.gents-main {
	opacity: .5;
	max-width: 1458px;
}

.gents-article2 img {
	max-width: 1738px;
}

.gents-article3 img {
	max-width: 1218px;
}

.home-article2 img,
.home-article3 img,
.ladies-article2 img,
.ladies-article3 img {
	max-width: 1756px;
}

.home-flowers-container,
.ladies-main-container,
.ladies-flowers-container,
.gents-main-container,
.gents-flowers-container {
	position: relative;
  text-align: center;
  color: #3e3d3d;
	font-weight: 700;
	padding: 30px 0;
}

.home-flowers,
.ladies-flowers,
.gents-flowers {
	opacity: .5;
	max-width: 4161px;
}

.home-flowers {
	padding-top: 20px;
}

.home-flowers-text,
.ladies-main-text,
.ladies-flowers-text,
.gents-main-text,
.gents-flowers-text {
	font-family: 'Averia Serif Libre', cursive;
	font-weight: 700;
	font-style: normal;
	position: absolute;
	top: 54%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
}

.home-flowers-text-top,
.ladies-main-text-top,
.ladies-flowers-text-top,
.gents-main-text-top,
.gents-flowers-text-top {
	font-size: 1.2rem;
	padding-bottom: 15px;
	line-height: 1.4rem;
}

.home-flowers-text-bottom,
.ladies-flowers-text-bottom,
.gents-flowers-text-bottom {
	font-size: 1rem;
}

footer {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 40px;
}

footer img {
	max-width: 730px;
	width: 85%;
	padding: 5% 5% 5% 15%;
}

.footer-flex-image {
	flex: 1;
}

.footer-nav {
	display: block;
	text-align: center;
	flex: 2;
	padding: 0 15px 0 10px;
}

.footer-nav ul li {
	display: inline-block;
	font-size: .9rem;
	font-family: 'Averia Serif Libre', cursive;
	text-transform: uppercase;
	font-weight: 700;
}

.footer-nav-flowers_gents {
	border-bottom: 1px solid #3e3d3d;
}

.footer-nav-line {
	border-top: 1px solid #3e3d3d;
	display: inline-block;
	margin-top: 20px;
	padding-top: 20px;
}

.footer-nav ul li a {
	text-decoration: none;
	color: #3e3d3d;
}

.footer-nav ul li a:hover {
	color: black;
}
/************************************* START 425PX MEDIA QUERY *************************************/
@media (min-width: 425px) {
	.footer-nav ul li {
		font-size: 1.1;
	}
}
/************************************* END 425PX MEDIA QUERY *************************************/
@media (min-width: 500px) {
	.logo {
		width: 30%;
	}

	.home-flowers-text,
	.ladies-main-text,
	.ladies-flowers-text,
	.gents-main-text,
	.gents-flowers-text {
		width: 80%;
	}

	header h1 {
		font-size: 2.4rem;
	}

	header h2 {
		font-size: 2rem;
	}

	.home-flowers-text-top,
	.ladies-main-text-top,
	.ladies-flowers-text-top,
	.gents-main-text-top,
	.gents-flowers-text-top {
		font-size: 1.8rem;
		line-height: 2.4rem;
		padding-bottom: 30px;
	}

	.home-flowers-text-bottom,
	.ladies-flowers-text-bottom,
	.gents-flowers-text-bottom {
    font-size: 1.3rem;
	}

	.footer-nav ul li {
		font-size: 1.3rem;
	}
}
/************************************* END 500PX MEDIA QUERY *************************************/
/************************************* START 570PX MEDIA QUERY *************************************/
@media (min-width: 570px) {
	.overlay {
		height: 98.75%;
	}
}
/************************************* END 570PX MEDIA QUERY *************************************/
/************************************* START 600PX MEDIA QUERY *************************************/
@media (min-width: 600px) {
	.footer-nav ul li {
		font-size: 1.5rem;
	}
}
/************************************* END 600PX MEDIA QUERY *************************************/
/************************************* START 700PX MEDIA QUERY *************************************/
@media (min-width: 600px) {
	.overlay {
		height: 99%;
	}
}
/************************************* END 700PX MEDIA QUERY *************************************/

/************************************* START 750PX MEDIA QUERY *************************************/
@media (min-width: 750px) {

	.site {
		margin: 45px;
	}

	.hamburger-shell {
	display: none;
	}

	.desktop-nav {
		display: block;
		text-align: center;
		border-top: 1px solid #3e3d3d;
		border-bottom: 1px solid #3e3d3d;
		padding: 40px 0;
		margin-bottom: 30px;
	}

	.desktop-nav ul {
		display: flex;
		justify-content: space-evenly;
	}

	.desktop-nav ul li {
		display: inline-block;
		font-size: 1.5rem;
		font-family: 'Averia Serif Libre', cursive;
		text-transform: uppercase;
		font-weight: 700;
	}

	.desktop-nav ul li a {
		text-decoration: none;
		color: #3e3d3d;
		transition: color .5s;
	}

	.desktop-nav ul li a:hover {
		color: black;
		transition: color .5s;
	}

	.header-container {
		margin-top: 30px;
	}

	.article-text {
		flex:1;
		padding: 0 5px;
	}

	header h1 {
		font-size: 2.8rem;
	}

	header h2 {
		font-size: 2.7rem;
	}

	.overlay {
		height: 98%;
	}

	.home-article1 h2,
	.ladies-article1 h2,
	.gents-article1 h2 {
		font-size: 3.1rem;
		padding: 30px 0 15px;
	}

	.home-article1,
	.ladies-article1,
	.gents-article1 {
		max-width: 700px;
		margin: 0 auto;
		text-align: center;
	}

	article h2 {
		font-size: 1.8rem;
		padding-bottom: 8px;
	}

	.home-article2,
	.home-article3,
	.ladies-article2,
	.ladies-article3,
	.gents-article2,
	.gents-article3 {
		display: flex;
		align-items: center;
		padding: 70px 0;
	}

	.home-article2 p,
	.home-article3 p,
	.ladies-article2 p,
	.ladies-article3 p,
	.gents-article2 p,
	.gents-article3 p {
		padding-bottom: 12px;
	}

	.home-article2,
	.ladies-article3,
	.gents-article3 {
		flex-direction: row-reverse;
	}

	.article-text {
		padding: 0 1% 0 2.5%;
	}

	.home-flowers-text-top,
	.ladies-main-text-top,
	.ladies-flowers-text-top,
	.gents-main-text-top,
	.gents-flowers-text-top {
		font-size: 3rem;
		line-height: 4rem;
		padding-bottom: 50px;
	}

	.home-flowers-text-bottom,
	.ladies-flowers-text-bottom,
	.gents-flowers-text-bottom {
		font-size: 1.8rem;
	}

	footer {
		max-width: 650px;
		margin: auto;
	}

	.footer-nav ul li {
		font-size: 1.8rem;
	}

}
/************************************* END 750PX MEDIA QUERY *************************************/
/************************************* START 940PX MEDIA QUERY *************************************/
@media (min-width: 940px) {
	.overlay {
		height: 98.5%;
	}
}
/************************************* END 940PX MEDIA QUERY *************************************/
/************************************* START 950PX MEDIA QUERY *************************************/
@media (min-width: 950px) {
	.desktop-nav ul li {
    font-size: 1.7rem;
	}

	footer {
		max-width: none;
		justify-content: flex-start;
		margin: 0;
	}

	footer img {
		max-width: 200px;
		padding: 0 0 0 5%;
	}

	.footer-nav {
		margin: auto;
		flex: 3.5;
	}

	.footer-nav-line {
		border-top: none;
		padding: 0;
		margin: 0;
		width: 100%;
		flex: 1;
	}

	.footer-nav ul {
		display: flex;
		border-top: 1px solid #3e3d3d;
		border-bottom: 1px solid #3e3d3d;
		padding: 30px 0;
	}

	.footer-nav ul li {
		font-size: 1.3rem;
		width: 100%;
		padding: 10px 0;
	}

	.footer-nav-gents {
		margin: 0 5px;
	}


	.footer-nav-ladies {
		margin-right: 5px;
		width: 100%;
		flex: 1;
	}

	.footer-nav ul li a {
		width: 100%;
	}

}

/************************************* END 950PX MEDIA QUERY *************************************/
/************************************* START 1000PX MEDIA QUERY *************************************/
@media (min-width: 1000px) {
	.home-flowers-text-top,
	.ladies-main-text-top,
	.ladies-flowers-text-top,
	.gents-main-text-top,
	.gents-flowers-text-top {
		font-size: 3.7rem;
	}

	.home-flowers-text-bottom,
	.ladies-flowers-text-bottom,
	.gents-flowers-text-bottom {
		font-size: 2.8rem;
		padding-top: 30px;
	}

	body {
		max-width: 1000px;
		margin: 0 auto;
	}
}
/************************************* END 1000PX MEDIA QUERY *************************************/
